body {
color:white;
background-color:black;
background-image:url(background.jpg);
background-position:center center;
background-size: cover;
font-family: Arial, sans-serif;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

li.menu {
  float: left;
  border-right: 1px solid #bbb;
}

li.menu:last-child {
  border-right: none;
}

li.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.menu a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}

table {
	border-radius: 25px;
    overflow: hidden;
	margin: 5% auto;
	width: 90%;
	border-collapse: collapse;
}

th {
  height: 70px;
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 15px;
}

.click a {
  display: block;
}

td {
	
  text-align: center;
  vertical-align: center;
}

tr{
	background-color: black;
	color: #f2f2f2;
}

tr:hover {background-color: #f2f2f2;
	color: black;}

table tr:not(:last-child) { border-bottom: 1px solid #ddd;}

tr:hover a {text-decoration: none;
	color: black;
	font-weight: bold;
	}

tr a {text-decoration: none;
	color: #f2f2f2;
	}
	
table.formulaire {
	margin : 0%;
}

td.formulaire {
  text-align: left;
}

tr.formulaire{
	background-color: #1fe0;
}

div.alreadyWritting{
	margin: 0 auto;
	background-color: #4CAF50;
	width: 40%;
	border-radius: 25px;
	padding: 15px;
	text-align: center;
  	vertical-align: center;
}

a.alreadyWritting{
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 150%;
}

a.alreadyWritting:hover{
	color: #f2f2f2;;
	font-weight: bold;
	text-decoration: underline;
	font-size: 150%;
}

form{
	width : 60%;
	overflow: hidden;
	margin: 5% auto;
	width: 90%;
	border-collapse: collapse;
	color: black;
	background-color: #4CAF50;
	border: solid #f2f2f2;
	border-radius: 25px;
}

input{
	margin: 10px;
}

p{
	margin: 10px;
}
#listPersons{
	margin: 10px;
	display: none;
}

TEXTAREA{
	margin: 10px;
}

#paragraphStory{
	width : 60%;
	overflow: hidden;
	margin: 4% auto;
	padding:3%;
	width: 90%;
	border-collapse: collapse;
	color: black;
	background-color: #4CAF50;
	border: solid #f2f2f2;
	border-radius: 25px;
}

a.choixSuite{
	text-decoration: none;
	color: black;
	display:block;
	margin: 2% auto;
	padding:2%;
	width: 30%;
	border: solid #4CAF50;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}

a.choixSuite:hover{
	font-weight: bold;
	font-size: 120%;
}

#changeBouton{
	width: 20%;
	margin: 2% auto;
	padding:2%;
	display:block;
}

div.choixHistorique{
	width : 60%;
	overflow: hidden;
	margin: 1% auto;
	padding:3%;
	width: 90%;
	border-collapse: collapse;
	color: black;
	background-color: #4CAF50;
	border: solid #f2f2f2;
	border-radius: 25px;
}

a.TitreHistorique{
	text-decoration: none;
	color: black;
	display:block;
	padding:2%;
	width: 10%;
	border: solid #4CAF50;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}

#boutonSauvegarde{
	text-decoration: none;
	color: black;
	display:block;
	padding:2%;
	width: 10%;
	border: solid #4CAF50;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}
