body {
color:white;
background-color:black;
background-image:url(background.jpg);
background-position:center center;
background-size: cover;
font-family: Arial, sans-serif;
}

p{
	margin: 10px;
}

#paragraphStory{
	overflow: hidden;
	margin: 4% auto;
	padding:3%;
	width: 90%;
	border-collapse: collapse;
	color: black;
	background-color: #4CAF50;
	border: solid #f2f2f2;
	border-radius: 25px;
}

a.choixSuite{
	text-decoration: none;
	color: black;
	display:block;
	margin: 2% auto;
	padding:2%;
	width: 30%;
	border: solid #4CAF50;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}

a.choixSuite:hover{
	font-weight: bold;
	font-size: 120%;
}

